In [1]:
# Demat Account Details

USER_NAME = 'P60493342'
PWD = '2536'
API_KEY = 'PKuyM2GK'
TOTP = "LFXFA6K3B4JYOO4RFPH7WDB4Q4"

CORRELATION_ID = "63cfcac0-5c59-49ad-9f50-f3d1e28ff118"
TOKEN_MAP = None
FEED_TOKEN = None
SMART_API_OBJ = None

# Short name of share & Exchange & Number

exchange_segment = 'NSE'
symbol = 'NIFTYBEES-EQ'
symbol_token = None   # 14366

fund_percentage = 50  # %

In [3]:
# For Connect Demat Account

from SmartApi import SmartConnect
import pyotp
from logzero import logger
import pandas as pd
import numpy as np
import pytz
import requests
from talib.abstract import *
from datetime import *
import requests

In [17]:
obj = SmartConnect(API_KEY)

try:
    totp = pyotp.TOTP(TOTP).now()
except Exception as e:
    logger.error("Invalid Token: The provided token is not valid.")
    raise e

login = obj.generateSession(USER_NAME,PWD,totp)

if login['status'] == False:
    logger.error(login)
    
else:
    # login api call
   
    authToken = login['data']['jwtToken']
    
    refreshToken = login['data']['refreshToken']
    obj.generateToken(refreshToken)
    
    # fetch the feedtoken
    feedToken = obj.getfeedToken()
    
    # fetch User Profile
    res = obj.getProfile(refreshToken)
    My_Info = pd.DataFrame.from_dict(res)

symbol_token = obj.searchScrip(exchange_segment,symbol)['data'][0]['symboltoken']
fund_to_be_used = ( float(obj.rmsLimit()['data']['availablecash']) * fund_percentage ) / 100

display(My_Info["data"])
print(f"Fund To be Used : {fund_to_be_used}")

[I 241223 13:44:56 smartConnect:124] in pool
[I 241223 13:44:59 smartConnect:496] Search successful. Found 1 trading symbols for the given query:
    1. exchange: NSE, tradingsymbol: NIFTYBEES-EQ, symboltoken: 10576

clientcode                                               P60493342
name                                             PATHAN FAIJANKHAN
email
mobileno
exchanges        [nse_fo, nse_cm, cde_fo, ncx_fo, bse_fo, bse_c...
products                          [MARGIN, MIS, NRML, CNC, CO, BO]
lastlogintime
broker
Name: data, dtype: object

Fund To be Used : 490.79

In [15]:
# For Symbol Data Download  

def intializeSymbolTokenMap():
    url = 'https://margincalculator.angelbroking.com/OpenAPI_File/files/OpenAPIScripMaster.json'
    d = requests.get(url).json()
    token_df = pd.DataFrame.from_dict(d)
    token_df['expiry'] = pd.to_datetime(token_df['expiry'], format='%d%b%Y')
    token_df = token_df.astype({'strike': float})
    global TOKEN_MAP 
    TOKEN_MAP = token_df

intializeSymbolTokenMap()
TOKEN_MAP

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,99926000,Nifty 50,NIFTY,NaT,0.000000e+00,1,AMXIDX,NSE,0.000000
1,99926001,Nifty GrowSect 15,NIFTY GROWSECT 15,NaT,0.000000e+00,1,AMXIDX,NSE,0.000000
2,99926002,Nifty50 PR 2x Lev,NIFTY50 PR 2X LEV,NaT,0.000000e+00,1,AMXIDX,NSE,0.000000
3,99926004,Nifty 500,NIFTY 500,NaT,0.000000e+00,1,AMXIDX,NSE,0.000000
4,99926008,Nifty IT,NIFTY IT,NaT,0.000000e+00,1,AMXIDX,NSE,0.000000
...,...,...,...,...,...,...,...,...,...
120008,127689,SILVERM25FEB103000CE,SILVERM,2025-02-21,1.030000e+09,1,OPTFUT,NCO,5000.000000
120009,127719,SILVERM25APR101000CE,SILVERM,2025-04-23,1.010000e+09,1,OPTFUT,NCO,5000.000000
120010,127727,SILVERM25APR102000CE,SILVERM,2025-04-23,1.020000e+09,1,OPTFUT,NCO,5000.000000
120011,127751,SILVERM25APR105000CE,SILVERM,2025-04-23,1.050000e+09,1,OPTFUT,NCO,5000.000000
120012,127758,SILVERM25APR105750PE,SILVERM,2025-04-23,1.057500e+09,1,OPTFUT,NCO,5000.000000

In [5]:
# # For Directly Symbol Token

# def get_symbol_token(exchange,name_symbol) :
#     try : 
#         token = obj.searchScrip(exchange,name_symbol)['data'][0]['symboltoken']
#         return token
#     except Exception as e:
#         logger.exception(f"Symbol Token Not Found : {e}")

# # exchange = "NSE"
# # name_symbol = "SBIN-EQ"
# # t = get_symbol_token(exchange,name_symbol)
# # t

In [6]:
# # For Option & Future Information

# def getTokenInfo (exch_seg, instrumenttype,symbol,strike_price,pe_ce):
    
#     df = TOKEN_MAP
#     strike_price = strike_price*100
    
#     if exch_seg == 'NSE':
#         eq_df = df[(df['exch_seg'] == 'NSE') & (df['symbol'].str.contains('EQ')) ]
#         return eq_df[eq_df['name'] == symbol]
        
#     elif exch_seg == 'NFO' and ((instrumenttype == 'FUTSTK') or (instrumenttype == 'FUTIDX')):
#         return df[(df['exch_seg'] == 'NFO') & (df['instrumenttype'] == instrumenttype) & (df['name'] == symbol)].sort_values(by=['expiry'])
    
#     elif exch_seg == 'NFO' and (instrumenttype == 'OPTSTK' or instrumenttype == 'OPTIDX'):
#         return df[(df['exch_seg'] == 'NFO') & (df['instrumenttype'] == instrumenttype) & (df['name'] == symbol) & (df['strike'] == strike_price) & (df['symbol'].str.endswith(pe_ce))].sort_values(by=['expiry'])

# tokenInfo = getTokenInfo('NFO','OPTIDX','NIFTY',25000,'CE').iloc[0]
# print(tokenInfo)

# symbol  = tokenInfo['symbol']
# token = tokenInfo['token']
# lot = int(tokenInfo['lotsize'])

# print(symbol, token, lot)

In [19]:
# For Historic Data

def historical_data(exchange_segment,symbol_token,time_frame,from_date,to_date) :

    try:
        historicParam={
        "exchange": exchange_segment,      #  NSE
        "symboltoken": symbol_token ,      #  3045
        "interval": time_frame ,           #  ONE_MINUTE
        "fromdate": from_date ,            #  2024-11-20 09:15
        "todate": to_date                  #  2024-11-30 15:30
        }
        
        dt = obj.getCandleData(historicParam)['data']
        candledata = pd.DataFrame(dt,columns = ["Date & Time","Open","High","Low","Close","Volume"] )

        # Convert Time column to datetime
        candledata['Date & Time'] = pd.to_datetime(candledata['Date & Time'])

        # date & time Format
        candledata['Date & Time'] = candledata['Date & Time'].dt.strftime('%d-%m-%Y  %H:%M')
    
        # Set Date & Time As Index
        # candledata = candledata.set_index('Date & Time')
    
        return candledata
    
    except Exception as e:
        logger.exception(f"Historic Api failed: {e}")

# Historic Data 

symbol_token = symbol_token
time_frame = "FIFTEEN_MINUTE"
from_date = datetime.now() - timedelta(days=200)
from_date = from_date.strftime("%Y-%m-%d %H:%M")
to_date = datetime.now().strftime("%Y-%m-%d %H:%M")

# Get historical data
data = historical_data(exchange_segment,symbol_token,time_frame,from_date,to_date)
data.iloc[-50:]

            Date & Time    Open    High     Low   Close   Volume
3329  19-12-2024  14:00  267.98  268.17  267.91  268.07    93667
3330  19-12-2024  14:15  268.09  268.15  267.83  267.96   158374
3331  19-12-2024  14:30  267.94  268.09  267.76  267.94   260095
3332  19-12-2024  14:45  267.94  268.00  267.90  267.93   136317
3333  19-12-2024  15:00  267.93  268.13  267.87  268.07   324014
3334  19-12-2024  15:15  268.08  276.42  267.80  268.50   602505
3335  20-12-2024  09:15  267.11  268.99  267.11  267.65   396170
3336  20-12-2024  09:30  267.64  269.32  267.50  269.09   285338
3337  20-12-2024  09:45  269.09  269.09  266.15  266.88   737595
3338  20-12-2024  10:00  266.84  266.98  266.40  266.89   303514
3339  20-12-2024  10:15  266.90  268.00  266.70  267.38   190439
3340  20-12-2024  10:30  267.45  268.00  267.32  267.81    87547
3341  20-12-2024  10:45  267.87  268.28  267.33  267.75   148994
3342  20-12-2024  11:00  268.02  268.24  267.71  268.09   129514
3343  20-12-2024  11:15  268.02  268.13  267.31  267.57    92837
3344  20-12-2024  11:30  267.60  267.74  267.35  267.59    73006
3345  20-12-2024  11:45  267.59  267.90  267.50  267.88   112270
3346  20-12-2024  12:00  267.88  267.95  267.24  267.24   137320
3347  20-12-2024  12:15  267.24  267.24  266.50  266.78   350512
3348  20-12-2024  12:30  266.79  267.00  266.30  266.35   280869
3349  20-12-2024  12:45  266.35  266.47  265.75  265.85   478254
3350  20-12-2024  13:00  265.81  265.99  265.41  265.57   424016
3351  20-12-2024  13:15  265.57  265.88  265.40  265.78   303764
3352  20-12-2024  13:30  265.78  265.95  265.20  265.47   284873
3353  20-12-2024  13:45  265.47  265.57  265.20  265.50   235080
3354  20-12-2024  14:00  265.50  265.55  265.00  265.11   326788
3355  20-12-2024  14:15  265.13  265.59  265.05  265.43   274416
3356  20-12-2024  14:30  265.43  265.47  265.00  265.25   313549
3357  20-12-2024  14:45  265.25  265.29  264.57  264.66   678491
3358  20-12-2024  15:00  264.65  264.66  263.70  263.80   932325
3359  20-12-2024  15:15  263.88  266.40  263.70  266.00  1123696
3360  23-12-2024  09:15  266.99  269.00  264.56  265.50   385490
3361  23-12-2024  09:30  265.46  266.16  265.15  265.69   328173
3362  23-12-2024  09:45  265.63  266.00  265.16  265.48   153370
3363  23-12-2024  10:00  265.49  266.25  265.32  265.94   146873
3364  23-12-2024  10:15  265.98  266.00  265.47  265.86   145962
3365  23-12-2024  10:30  265.86  266.20  265.72  265.85   108986
3366  23-12-2024  10:45  265.89  266.49  265.80  266.48    72236
3367  23-12-2024  11:00  266.49  266.82  266.45  266.68   103453
3368  23-12-2024  11:15  266.68  266.91  266.61  266.87    63960
3369  23-12-2024  11:30  266.87  266.92  266.55  266.79    70591
3370  23-12-2024  11:45  266.75  266.86  266.21  266.21    57521
3371  23-12-2024  12:00  266.28  266.45  265.71  265.75   122468
3372  23-12-2024  12:15  265.94  266.00  265.43  265.50    85427
3373  23-12-2024  12:30  265.50  265.63  265.03  265.58   126880
3374  23-12-2024  12:45  265.58  265.63  265.00  265.03    87373
3375  23-12-2024  13:00  265.03  265.44  264.86  264.97   161601
3376  23-12-2024  13:15  264.97  265.15  264.68  264.81   161487
3377  23-12-2024  13:30  264.81  265.15  264.55  265.15   136506
3378  23-12-2024  13:45  265.11  265.31  265.00  265.11    61793

In [21]:
# MACD Implementation

MACD_data = pd.DataFrame()

MACD_data['MACD'], MACD_data['MACD_Signal'], MACD_data['MACD_Hist'] = MACD(data['Close'], fastperiod=12, slowperiod=26, signalperiod=9) 
MACD_data['MACD_Buy'] = (MACD_data['MACD'] > MACD_data['MACD_Signal']) 
MACD_data['MACD_Sell'] = (MACD_data['MACD'] < MACD_data['MACD_Signal'])

MACD_data[-50:]

          MACD  MACD_Signal  MACD_Hist  MACD_Buy  MACD_Sell
3329 -0.569592    -0.684361   0.114769      True      False
3330 -0.542676    -0.656024   0.113348      True      False
3331 -0.516999    -0.628219   0.111220      True      False
3332 -0.491787    -0.600932   0.109145      True      False
3333 -0.455263    -0.571798   0.116536      True      False
3334 -0.387156    -0.534870   0.147714      True      False
3335 -0.397190    -0.507334   0.110144      True      False
3336 -0.285654    -0.462998   0.177344      True      False
3337 -0.371309    -0.444660   0.073351      True      False
3338 -0.433388    -0.442406   0.009018      True      False
3339 -0.437999    -0.441524   0.003526      True      False
3340 -0.402317    -0.433683   0.031366      True      False
3341 -0.374563    -0.421859   0.047296      True      False
3342 -0.321428    -0.401773   0.080345      True      False
3343 -0.317616    -0.384941   0.067325      True      False
3344 -0.309414    -0.369836   0.060422      True      False
3345 -0.276329    -0.351135   0.074806      True      False
3346 -0.298312    -0.340570   0.042258      True      False
3347 -0.348831    -0.342222  -0.006609     False       True
3348 -0.418738    -0.357525  -0.061213     False       True
3349 -0.508623    -0.387745  -0.120878     False       True
3350 -0.595585    -0.429313  -0.166272     False       True
3351 -0.640178    -0.471486  -0.168692     False       True
3352 -0.692550    -0.515699  -0.176851     False       True
3353 -0.723297    -0.557218  -0.166078     False       True
3354 -0.770254    -0.599826  -0.170429     False       True
3355 -0.772739    -0.634408  -0.138331     False       True
3356 -0.780239    -0.663574  -0.116665     False       True
3357 -0.824289    -0.695717  -0.128572     False       True
3358 -0.918012    -0.740176  -0.177835     False       True
3359 -0.805481    -0.753237  -0.052244     False       True
3360 -0.748022    -0.752194   0.004172      True      False
3361 -0.679324    -0.737620   0.058296      True      False
3362 -0.634511    -0.716998   0.082488      True      False
3363 -0.555475    -0.684693   0.129219      True      False
3364 -0.493603    -0.646475   0.152872      True      False
3365 -0.440301    -0.605241   0.164939      True      False
3366 -0.343266    -0.552846   0.209579      True      False
3367 -0.247376    -0.491752   0.244376      True      False
3368 -0.154272    -0.424256   0.269984      True      False
3369 -0.085951    -0.356595   0.270644      True      False
3370 -0.077711    -0.300818   0.223107      True      False
3371 -0.107065    -0.262068   0.155002      True      False
3372 -0.148786    -0.239411   0.090625      True      False
3373 -0.173397    -0.226208   0.052812      True      False
3374 -0.234577    -0.227882  -0.006695     False       True
3375 -0.284623    -0.239230  -0.045393     False       True
3376 -0.333353    -0.258055  -0.075298     False       True
3377 -0.340610    -0.274566  -0.066044     False       True
3378 -0.345605    -0.288774  -0.056832     False       True

In [23]:
# Moving Average Crossover Implementation

MAC_data = pd.DataFrame()

MAC_data['SMA50'] = data['Close'].rolling(window=50).mean() 
MAC_data['SMA200'] = data['Close'].rolling(window=200).mean() 
MAC_data['MAC_Buy'] = (MAC_data['SMA50'] > MAC_data['SMA200']) 
MAC_data['MAC_Sell'] = (MAC_data['SMA50'] < MAC_data['SMA200'])

MAC_data[-50:]

         SMA50     SMA200  MAC_Buy  MAC_Sell
3329  269.9400  273.41870    False      True
3330  269.8614  273.38285    False      True
3331  269.7768  273.34705    False      True
3332  269.6914  273.31090    False      True
3333  269.6072  273.27550    False      True
3334  269.5342  273.24205    False      True
3335  269.4518  273.20575    False      True
3336  269.3800  273.17370    False      True
3337  269.2882  273.12965    False      True
3338  269.2020  273.08560    False      True
3339  269.1212  273.04460    False      True
3340  269.0398  273.00790    False      True
3341  268.9734  272.97115    False      True
3342  268.9164  272.93460    False      True
3343  268.8426  272.89560    False      True
3344  268.7724  272.85630    False      True
3345  268.7076  272.81950    False      True
3346  268.6328  272.77990    False      True
3347  268.5522  272.73925    False      True
3348  268.4710  272.69805    False      True
3349  268.3750  272.65395    False      True
3350  268.2672  272.60880    False      True
3351  268.1654  272.56480    False      True
3352  268.0646  272.51975    False      True
3353  267.9590  272.47535    False      True
3354  267.8476  272.42840    False      True
3355  267.7460  272.38265    False      True
3356  267.6410  272.33615    False      True
3357  267.5242  272.28585    False      True
3358  267.3898  272.22915    False      True
3359  267.2932  272.18465    False      True
3360  267.2566  272.13710    False      True
3361  267.2040  272.09070    False      True
3362  267.1506  272.04250    False      True
3363  267.1138  271.99720    False      True
3364  267.0686  271.94950    False      True
3365  267.0238  271.90165    False      True
3366  266.9942  271.85680    False      True
3367  266.9692  271.81280    False      True
3368  266.9470  271.77010    False      True
3369  266.9194  271.72570    False      True
3370  266.8810  271.67835    False      True
3371  266.8280  271.62900    False      True
3372  266.7724  271.57950    False      True
3373  266.7224  271.53065    False      True
3374  266.6614  271.47930    False      True
3375  266.5980  271.42690    False      True
3376  266.5346  271.37400    False      True
3377  266.4796  271.32275    False      True
3378  266.4218  271.27230    False      True

In [25]:
# RSI Implementation

# # Calculate daily price changes
# delta = data['Close'].diff()

# # Separate gains and losses
# gain = np.where(delta > 0, delta, 0)
# loss = np.where(delta < 0, -delta, 0)

# # Calculate average gain and loss using rolling mean
# avg_gain = pd.Series(gain).rolling(window=rsi_period, min_periods=1).mean()
# avg_loss = pd.Series(loss).rolling(window=rsi_period, min_periods=1).mean()

# # Calculate RS and RSI
# rs = avg_gain / avg_loss
# rsi = 100 - (100 / (1 + rs))

# # Add RSI column to the DataFrame
# data['RSI'] = rsi

# RSI parameters
rsi_period = 14

RSI_data = pd.DataFrame()

RSI_data['RSI'] = RSI(data.Close, rsi_period)
RSI_data['RSI_Buy'] = (RSI_data['RSI'] < 30) 
RSI_data['RSI_Sell'] = (RSI_data['RSI'] > 70)
RSI_data[-50:]

            RSI  RSI_Buy  RSI_Sell
3329  37.792572    False     False
3330  36.391707    False     False
3331  36.129483    False     False
3332  35.989844    False     False
3333  39.514432    False     False
3334  48.833459    False     False
3335  36.772599    False     False
3336  56.412865    False     False
3337  37.275563    False     False
3338  37.379080    False     False
3339  42.395723    False     False
3340  46.449972    False     False
3341  45.963856    False     False
3342  49.207732    False     False
3343  44.780077    False     False
3344  44.985114    False     False
3345  48.000140    False     False
3346  42.468607    False     False
3347  38.990637    False     False
3348  36.020965    False     False
3349  32.884597    False     False
3350  31.243968    False     False
3351  33.907253    False     False
3352  31.940390    False     False
3353  32.349366    False     False
3354  29.839088     True     False
3355  34.341226    False     False
3356  33.056281    False     False
3357  29.199628     True     False
3358  24.679735     True     False
3359  47.197099    False     False
3360  43.979112    False     False
3361  45.499784    False     False
3362  44.075702    False     False
3363  47.920848    False     False
3364  47.311596    False     False
3365  47.230762    False     False
3366  52.712247    False     False
3367  54.333999    False     False
3368  55.881961    False     False
3369  55.036029    False     False
3370  49.218783    False     False
3371  45.143309    False     False
3372  43.056636    False     False
3373  43.949479    False     False
3374  39.378129    False     False
3375  38.902745    False     False
3376  37.599214    False     False
3377  42.043357    False     False
3378  41.667381    False     False

In [27]:
# SuperTrend Implementation

atr_period=20
multiplier=3

supertrend_data = pd.DataFrame(index=data.index)
hl2 = (data['High'] + data['Low']) / 2
supertrend_data['ATR'] = ATR(data['High'], data['Low'], data['Close'], timeperiod=atr_period)
supertrend_data['Upper Band'] = hl2 + (multiplier * supertrend_data['ATR'])
supertrend_data['Lower Band'] = hl2 - (multiplier * supertrend_data['ATR'])
supertrend_data['In Uptrend'] = True

for current in range(1, len(supertrend_data.index)):
    previous = current - 1

    if data['Close'].iloc[current] > supertrend_data['Upper Band'].iloc[previous]:
        supertrend_data.loc[supertrend_data.index[current], 'In Uptrend'] = True
    elif data['Close'].iloc[current] < supertrend_data['Lower Band'].iloc[previous]:
        supertrend_data.loc[supertrend_data.index[current], 'In Uptrend'] = False
    else:
        supertrend_data.loc[supertrend_data.index[current], 'In Uptrend'] = supertrend_data.loc[supertrend_data.index[previous], 'In Uptrend']
        if supertrend_data.loc[supertrend_data.index[current], 'In Uptrend'] and supertrend_data['Lower Band'].iloc[current] < supertrend_data['Lower Band'].iloc[previous]:
            supertrend_data.loc[supertrend_data.index[current], 'Lower Band'] = supertrend_data['Lower Band'].iloc[previous]
        if not supertrend_data.loc[supertrend_data.index[current], 'In Uptrend'] and supertrend_data['Upper Band'].iloc[current] > supertrend_data['Upper Band'].iloc[previous]:
            supertrend_data.loc[supertrend_data.index[current], 'Upper Band'] = supertrend_data['Upper Band'].iloc[previous]

supertrend_data['SuperTrend_Buy'] = (supertrend_data['In Uptrend'])
supertrend_data['SuperTrend_Sell'] = (~supertrend_data['In Uptrend'])

supertrend_data

,ATR,Upper Band,Lower Band,In Uptrend,SuperTrend_Buy,SuperTrend_Sell
0,NaN,NaN,NaN,True,True,False
1,NaN,NaN,NaN,True,True,False
2,NaN,NaN,NaN,True,True,False
3,NaN,NaN,NaN,True,True,False
4,NaN,NaN,NaN,True,True,False
...,...,...,...,...,...,...
3374,0.827770,267.798309,264.083652,True,True,False
3375,0.815381,267.596144,264.083652,True,True,False
3376,0.798112,267.309337,264.083652,True,True,False
3377,0.788207,267.214620,264.083652,True,True,False
3378,0.764296,267.447889,264.083652,True,True,False

In [29]:
# Create DataFrame for Combined_Buy with all individual buy signals 
combined_buy = pd.DataFrame()

combined_buy['MACD_Buy'] = MACD_data['MACD_Buy']
combined_buy['MAC_Buy'] = MAC_data['MAC_Buy']
combined_buy['RSI_Buy'] = RSI_data['RSI_Buy']
combined_buy['SuperTrend_Buy'] = supertrend_data['SuperTrend_Buy']
combined_buy['Total Buy'] = combined_buy[['MACD_Buy','MAC_Buy','RSI_Buy','SuperTrend_Buy']].sum(axis=1)

combined_buy.iloc[-50:]

      MACD_Buy  MAC_Buy  RSI_Buy  SuperTrend_Buy  Total Buy
3329      True    False    False           False          1
3330      True    False    False           False          1
3331      True    False    False           False          1
3332      True    False    False           False          1
3333      True    False    False           False          1
3334      True    False    False           False          1
3335      True    False    False           False          1
3336      True    False    False           False          1
3337      True    False    False           False          1
3338      True    False    False           False          1
3339      True    False    False           False          1
3340      True    False    False           False          1
3341      True    False    False           False          1
3342      True    False    False           False          1
3343      True    False    False           False          1
3344      True    False    False           False          1
3345      True    False    False           False          1
3346      True    False    False           False          1
3347     False    False    False           False          0
3348     False    False    False           False          0
3349     False    False    False           False          0
3350     False    False    False           False          0
3351     False    False    False           False          0
3352     False    False    False           False          0
3353     False    False    False           False          0
3354     False    False     True           False          1
3355     False    False    False           False          0
3356     False    False    False           False          0
3357     False    False     True           False          1
3358     False    False     True           False          1
3359     False    False    False           False          0
3360      True    False    False           False          1
3361      True    False    False           False          1
3362      True    False    False           False          1
3363      True    False    False           False          1
3364      True    False    False           False          1
3365      True    False    False           False          1
3366      True    False    False           False          1
3367      True    False    False            True          2
3368      True    False    False            True          2
3369      True    False    False            True          2
3370      True    False    False            True          2
3371      True    False    False            True          2
3372      True    False    False            True          2
3373      True    False    False            True          2
3374     False    False    False            True          1
3375     False    False    False            True          1
3376     False    False    False            True          1
3377     False    False    False            True          1
3378     False    False    False            True          1

In [31]:
# Create DataFrame for Combined_Sell with all individual Sell signals 
combined_sell = pd.DataFrame()

combined_sell['MACD_Sell'] = MACD_data['MACD_Sell']
combined_sell['MAC_Sell'] = MAC_data['MAC_Sell']
combined_sell['RSI_Sell'] = RSI_data['RSI_Sell']
combined_sell['SuperTrend_Sell'] = supertrend_data['SuperTrend_Sell']
combined_sell['Total Sell'] = combined_sell[['MACD_Sell','MAC_Sell','RSI_Sell','SuperTrend_Sell']].sum(axis=1)

combined_sell.iloc[-50:]

      MACD_Sell  MAC_Sell  RSI_Sell  SuperTrend_Sell  Total Sell
3329      False      True     False             True           2
3330      False      True     False             True           2
3331      False      True     False             True           2
3332      False      True     False             True           2
3333      False      True     False             True           2
3334      False      True     False             True           2
3335      False      True     False             True           2
3336      False      True     False             True           2
3337      False      True     False             True           2
3338      False      True     False             True           2
3339      False      True     False             True           2
3340      False      True     False             True           2
3341      False      True     False             True           2
3342      False      True     False             True           2
3343      False      True     False             True           2
3344      False      True     False             True           2
3345      False      True     False             True           2
3346      False      True     False             True           2
3347       True      True     False             True           3
3348       True      True     False             True           3
3349       True      True     False             True           3
3350       True      True     False             True           3
3351       True      True     False             True           3
3352       True      True     False             True           3
3353       True      True     False             True           3
3354       True      True     False             True           3
3355       True      True     False             True           3
3356       True      True     False             True           3
3357       True      True     False             True           3
3358       True      True     False             True           3
3359       True      True     False             True           3
3360      False      True     False             True           2
3361      False      True     False             True           2
3362      False      True     False             True           2
3363      False      True     False             True           2
3364      False      True     False             True           2
3365      False      True     False             True           2
3366      False      True     False             True           2
3367      False      True     False            False           1
3368      False      True     False            False           1
3369      False      True     False            False           1
3370      False      True     False            False           1
3371      False      True     False            False           1
3372      False      True     False            False           1
3373      False      True     False            False           1
3374       True      True     False            False           2
3375       True      True     False            False           2
3376       True      True     False            False           2
3377       True      True     False            False           2
3378       True      True     False            False           2

In [37]:
data['Total Buy'] = combined_buy['Total Buy'] 
data['Total Sell'] = combined_sell['Total Sell']

# Use np.where to create the 'Action' column based on the conditions 
data['Action'] = np.where(data['Total Buy'] >= 1, 'Buy', np.where(data['Total Sell'] >= 3, 'Sell', '-'))

# Convert to excel sheet
data.to_excel(r'C:\Users\faija\OneDrive\Desktop\Study\Algo Trading Project\Past Data\data.xlsx',index=False)

# Data Manupalation For Testing
# data['Action'].iloc[-1] = 'Buy'

data[-50:]

,Date & Time,Open,High,Low,Close,Volume,Total Buy,Total Sell,Action
3329,19-12-2024 14:00,267.98,268.17,267.91,268.07,93667,1,2,Buy
3330,19-12-2024 14:15,268.09,268.15,267.83,267.96,158374,1,2,Buy
3331,19-12-2024 14:30,267.94,268.09,267.76,267.94,260095,1,2,Buy
3332,19-12-2024 14:45,267.94,268.00,267.90,267.93,136317,1,2,Buy
3333,19-12-2024 15:00,267.93,268.13,267.87,268.07,324014,1,2,Buy
3334,19-12-2024 15:15,268.08,276.42,267.80,268.50,602505,1,2,Buy
3335,20-12-2024 09:15,267.11,268.99,267.11,267.65,396170,1,2,Buy
3336,20-12-2024 09:30,267.64,269.32,267.50,269.09,285338,1,2,Buy
3337,20-12-2024 09:45,269.09,269.09,266.15,266.88,737595,1,2,Buy
3338,20-12-2024 10:00,266.84,266.98,266.40,266.89,303514,1,2,Buy
3339,20-12-2024 10:15,266.90,268.00,266.70,267.38,190439,1,2,Buy
3340,20-12-2024 10:30,267.45,268.00,267.32,267.81,87547,1,2,Buy
3341,20-12-2024 10:45,267.87,268.28,267.33,267.75,148994,1,2,Buy
3342,20-12-2024 11:00,268.02,268.24,267.71,268.09,129514,1,2,Buy
3343,20-12-2024 11:15,268.02,268.13,267.31,267.57,92837,1,2,Buy
3344,20-12-2024 11:30,267.60,267.74,267.35,267.59,73006,1,2,Buy
3345,20-12-2024 11:45,267.59,267.90,267.50,267.88,112270,1,2,Buy
3346,20-12-2024 12:00,267.88,267.95,267.24,267.24,137320,1,2,Buy
3347,20-12-2024 12:15,267.24,267.24,266.50,266.78,350512,0,3,Sell
3348,20-12-2024 12:30,266.79,267.00,266.30,266.35,280869,0,3,Sell
3349,20-12-2024 12:45,266.35,266.47,265.75,265.85,478254,0,3,Sell
3350,20-12-2024 13:00,265.81,265.99,265.41,265.57,424016,0,3,Sell
3351,20-12-2024 13:15,265.57,265.88,265.40,265.78,303764,0,3,Sell
3352,20-12-2024 13:30,265.78,265.95,265.20,265.47,284873,0,3,Sell
3353,20-12-2024 13:45,265.47,265.57,265.20,265.50,235080,0,3,Sell
3354,20-12-2024 14:00,265.50,265.55,265.00,265.11,326788,1,3,Buy
3355,20-12-2024 14:15,265.13,265.59,265.05,265.43,274416,0,3,Sell
3356,20-12-2024 14:30,265.43,265.47,265.00,265.25,313549,0,3,Sell
3357,20-12-2024 14:45,265.25,265.29,264.57,264.66,678491,1,3,Buy
3358,20-12-2024 15:00,264.65,264.66,263.70,263.80,932325,1,3,Buy
3359,20-12-2024 15:15,263.88,266.40,263.70,266.00,1123696,0,3,Sell
3360,23-12-2024 09:15,266.99,269.00,264.56,265.50,385490,1,2,Buy
3361,23-12-2024 09:30,265.46,266.16,265.15,265.69,328173,1,2,Buy
3362,23-12-2024 09:45,265.63,266.00,265.16,265.48,153370,1,2,Buy
3363,23-12-2024 10:00,265.49,266.25,265.32,265.94,146873,1,2,Buy
3364,23-12-2024 10:15,265.98,266.00,265.47,265.86,145962,1,2,Buy
3365,23-12-2024 10:30,265.86,266.20,265.72,265.85,108986,1,2,Buy
3366,23-12-2024 10:45,265.89,266.49,265.80,266.48,72236,1,2,Buy
3367,23-12-2024 11:00,266.49,266.82,266.45,266.68,103453,2,1,Buy
3368,23-12-2024 11:15,266.68,266.91,266.61,266.87,63960,2,1,Buy
3369,23-12-2024 11:30,266.87,266.92,266.55,266.79,70591,2,1,Buy
3370,23-12-2024 11:45,266.75,266.86,266.21,266.21,57521,2,1,Buy
3371,23-12-2024 12:00,266.28,266.45,265.71,265.75,122468,2,1,Buy
3372,23-12-2024 12:15,265.94,266.00,265.43,265.50,85427,2,1,Buy
3373,23-12-2024 12:30,265.50,265.63,265.03,265.58,126880,2,1,Buy
3374,23-12-2024 12:45,265.58,265.63,265.00,265.03,87373,1,2,Buy
3375,23-12-2024 13:00,265.03,265.44,264.86,264.97,161601,1,2,Buy
3376,23-12-2024 13:15,264.97,265.15,264.68,264.81,161487,1,2,Buy
3377,23-12-2024 13:30,264.81,265.15,264.55,265.15,136506,1,2,Buy
3378,23-12-2024 13:45,265.11,265.31,265.00,265.11,61793,1,2,Buy

In [39]:
# Send A Message On Telegram

def telegram_bot_sendtext(bot_message):
    bot_token = '7988064526:AAFNx1tSItQXE9BobdTf0ijZbe-v6BWnjqc' 
    bot_chatID = '6066882633'
    send_text = 'https://api.telegram.org/bot' + bot_token + '/sendMessage?chat_id=' + bot_chatID + \
                '&parse_mode=HTML&text=' + bot_message
    response = requests.get(send_text)
    return response.json()

In [41]:
# For Placing Order

def place_order(symbol,symbol_token,buy_sell,exchange_segment,price,quantity) :
    
    try :
        orderparams = {
            "variety": "NORMAL",               
            "tradingsymbol": symbol ,         #  SBIN-EQ
            "symboltoken": symbol_token ,     #  3045
            "transactiontype": buy_sell ,     #  BUY,SELL
            "exchange": exchange_segment ,    #  NSE,BSE,NFO,MCX,BFO,CDS
            "ordertype": "MARKET" ,           #  MARKET,LIMIT
            "producttype": "INTRADAY" ,       #  DELIVERY,CARRYFORWARD
            "duration": "DAY",                
            "price": 0 ,                  
            "squareoff": 30.00 ,          
            "stoploss": 15.00 ,            
            "quantity": quantity              
            }
        
        # Place an order and return the order ID
        order_id = obj.placeOrder(orderparams)
        return order_id
        
    except Exception as e:
        logger.exception(f"Order placement failed : {e}")

# Place Order

if data['Action'].iloc[-1] == 'Buy' :
    buy_sell = "BUY"
elif data['Action'].iloc[-1] == 'Sell' :
    buy_sell = "SELL"
else :
    buy_sell = None
    print("No Need To Trade")
    test = telegram_bot_sendtext("No Need To Trade")
    print(test)

if buy_sell != None : 
    
    price = obj.ltpData(exchange_segment,symbol,symbol_token)['data']['ltp']

    if fund_to_be_used >= price :
    
        quantity = round(fund_to_be_used/price)
        
        try : 
    
            order_id = place_order(symbol,symbol_token,buy_sell,exchange_segment,price,quantity)
            print("Order Placed Succesfully")
            print(f"Buy/Sell : {buy_sell}")
            print(f"Name : {symbol}")
            print(f"Quantity : {quantity}")
            print(f"Order ID : {order_id}")

            print(obj.position()['data'])
    
            # Telegram Message Send
            msg = symbol + "  " + buy_sell
            test = telegram_bot_sendtext(msg)
            print(test)
    
        except Exception as e:
            logger.exception("Problem") #(f"Order placement failed : {e}")

    else : 
        print("Not Enough Available Fund")
        test = telegram_bot_sendtext("Not Enough Available Fund")
        print(test)

Order Placed Succesfully
Buy/Sell : BUY
Name : NIFTYBEES-EQ
Quantity : 2
Order ID : 241223000679482
[{'symboltoken': '10576', 'symbolname': 'NIFTYBEES', 'instrumenttype': '', 'priceden': '1.00', 'pricenum': '1.00', 'genden': '1.00', 'gennum': '1.00', 'precision': '2', 'multiplier': '-1', 'boardlotsize': '1', 'exchange': 'NSE', 'producttype': 'INTRADAY', 'tradingsymbol': 'NIFTYBEES-EQ', 'symbolgroup': 'EQ', 'strikeprice': '-1.0', 'optiontype': '', 'expirydate': '', 'lotsize': '1', 'cfbuyqty': '0', 'cfsellqty': '0', 'cfbuyamount': '0.00', 'cfsellamount': '0.00', 'buyavgprice': '264.82', 'sellavgprice': '264.65', 'avgnetprice': '265.00', 'netvalue': '-530.00', 'netqty': '2', 'totalbuyvalue': '1059.30', 'totalsellvalue': '529.30', 'cfbuyavgprice': '0.00', 'cfsellavgprice': '0.00', 'totalbuyavgprice': '264.82', 'totalsellavgprice': '264.65', 'netprice': '265.00', 'buyqty': '4', 'sellqty': '2', 'buyamount': '1059.30', 'sellamount': '529.30', 'pnl': '0.06', 'realised': '-0.34', 'unrealised': '0.40', 'ltp': '265.02', 'close': '264.15'}]
{'ok': True, 'result': {'message_id': 35, 'from': {'id': 7988064526, 'is_bot': True, 'first_name': 'Algo Trading Bot', 'username': 'Algo_Trading_1111_bot'}, 'chat': {'id': 6066882633, 'first_name': 'FAIJANKHAN', 'last_name': 'PATHAN', 'username': 'FAIJANKHAN_PATHAN', 'type': 'private'}, 'date': 1734942392, 'text': 'NIFTYBEES-EQ  BUY'}}

In [43]:
position = obj.position()['data']
position

[{'symboltoken': '10576',
  'symbolname': 'NIFTYBEES',
  'instrumenttype': '',
  'priceden': '1.00',
  'pricenum': '1.00',
  'genden': '1.00',
  'gennum': '1.00',
  'precision': '2',
  'multiplier': '-1',
  'boardlotsize': '1',
  'exchange': 'NSE',
  'producttype': 'INTRADAY',
  'tradingsymbol': 'NIFTYBEES-EQ',
  'symbolgroup': 'EQ',
  'strikeprice': '-1.0',
  'optiontype': '',
  'expirydate': '',
  'lotsize': '1',
  'cfbuyqty': '0',
  'cfsellqty': '0',
  'cfbuyamount': '0.00',
  'cfsellamount': '0.00',
  'buyavgprice': '264.82',
  'sellavgprice': '264.78',
  'avgnetprice': '0.00',
  'netvalue': '-0.18',
  'netqty': '0',
  'totalbuyvalue': '1059.30',
  'totalsellvalue': '1059.12',
  'cfbuyavgprice': '0.00',
  'cfsellavgprice': '0.00',
  'totalbuyavgprice': '264.82',
  'totalsellavgprice': '264.78',
  'netprice': '0.00',
  'buyqty': '4',
  'sellqty': '4',
  'buyamount': '1059.30',
  'sellamount': '1059.12',
  'pnl': '-0.16',
  'realised': '-0.16',
  'unrealised': '-0.00',
  'ltp': '264.99',
  'close': '264.15'}]

In [45]:
# Portfolio

try :
    f = obj.holding()['data']
    fund = pd.DataFrame(f)
    fund = fund.drop(['t1quantity','realisedquantity','authorisedquantity','collateralquantity','collateraltype','haircut'], axis=1)
    print(fund)
except Exception as e:
    logger.exception(f"Holdings Fetching failed: {e}")

  tradingsymbol exchange          isin  quantity   product  averageprice  \
0     AFCONS-EQ      NSE  INE101I01011        32  DELIVERY        463.00
1       IDEA-EQ      NSE  INE669E01016         1  DELIVERY          8.42
2    CPSEETF-EQ      NSE  INF457M01133       150  DELIVERY        101.41
3    USHAFIN-SM      NSE  INE0LS001014       800  DELIVERY        168.00
4    HYUNDAI-EQ      NSE  INE0V6F01027         7  DELIVERY       1960.00

       ltp symboltoken    close  profitandloss  pnlpercentage
0   525.20       25977   520.25         1990.0          13.43
1     7.43       14366     7.40           -1.0         -11.71
2    85.55        2328    85.81        -2379.0         -15.64
3   120.00       25952   118.70       -38400.0         -28.57
4  1755.75       25844  1766.20        -1430.0         -10.42

In [47]:
# Available Fund

fund = obj.rmsLimit()['data']['availablecash']
fund

'941.4000'

In [19]:
# logout

try:
    logout = obj.terminateSession(USER_NAME)
    print("Logout Successfull...")
    
except Exception as e:
    logger.exception(f"Logout failed: {e}")

Logout Successfull...